<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lab.android.nuc.slideview">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/houyue"
        android:label="小仙女侯越"
        android:roundIcon="@mipmap/houyue"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity_2" />
        <activity android:name=".EchelonActivity" />
        <activity android:name=".SlideActivity"></activity>
    </application>

</manifest>